@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .formFloating {
       @apply absolute left-2 top-0 text-sm text-gray-400 peer-placeholder-shown:text-base peer-placeholder-shown:top-3
       peer-placeholder-shown:text-gray-600 
       peer-focus:text-sm
       peer-focus:top-0
       peer-focus:text-gray-400 transition-all duration-200
    }
    
}

